textarea:focus, input:focus{
    outline: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.content{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
}
.error{
    border: 1px solid red;
    background-color: darksalmon;
    text-align: center;
    padding: 20px;
    color: darkred;
}